[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "micropy/micropython"]
	path = micropy/micropython
	url = https://github.com/micropython/micropython.git
